:root {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
  font-family: var(--base-font);
  font-weight: var(--base-font-weight);
  font-style: var(--base-font-style);
}

* {
  margin: 0;
  padding: 0;
}

html, body, .menu-container {
  width: 100%;
  height: 100%;
}

.menu-container {
  display: flex;
  background-color: var(--background-color);
}

.category {
  width: 100%;
  height: 100%;
}

.header {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);

  text-align: center;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  color: var(--header-color);
}

.drinks-header {
  background-color: var(--drinks-color);
}

.food-header {
  background-color: var(--food-color);
}

.specialty-header {
  background-color: var(--specialty-color);
}

.item {
  color: var(--item-color);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  font-size: 2.5rem;
}
.item-name > *, .legend > span > * {
  vertical-align: middle;
}
.item-price {
  margin-left: 1.5rem;
}

.strikethrough {
  text-decoration: line-through;
  
  color: var(--item-color-variant);
  text-decoration-color: var(--strikethrough-color);
}

.dietary-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.6rem;
}
.item-low-stock-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.6rem;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--item-color);
}
.legend > span {
  margin-right: 0.75rem
}
.legend-icon {
  width: 2rem;
  height: 2rem;
}
.legend-icon.low-stock-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.low-stock-icon {
  color: #f19557;
}
.GF-icon {
  color: #cca300;
}
.DF-icon {
  color: #0099cc;
}
.NF-icon {
  color: #cc6600;
}
.CN-icon {
  color: #cc0000;
}
.VG-icon {
  color: #29a329;
}

@media only screen and (max-width: 1600px) {
  :root {
      font-size: 12px;
  }
  
  .item {
      margin: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
      font-size: 10px;
  }
}