:root {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
  font-family: var(--base-font);
  font-weight: var(--base-font-weight);
  font-style: var(--base-font-style);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

.menu-container {
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  background-color: var(--background-color);
}

.category {
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);

  text-align: center;
  font-size: 4rem;
  padding: 1.5rem 1.5rem;
  color: var(--title-color);
  background-color: var(--title-background-color);
}

.title::before, .title::after {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);

  text-align: center;
  font-size: 3rem;
  padding: 0.6rem 1.5rem;
  color: var(--header-color);
}

.drinks-header {
  background-color: var(--drinks-color);
}

.food-header {
  background-color: var(--food-color);
}

.specialty-header {
  background-color: var(--specialty-color);
}

.item {
  color: var(--item-color);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  font-size: var(--base-font-size);
}
.item-name > *, .legend > span > * {
  vertical-align: middle;
}
.item-price {
  margin-left: 1.5rem;
}

.strikethrough {
  text-decoration: line-through;
  
  color: var(--item-color-variant);
  text-decoration-color: var(--strikethrough-color);
  text-decoration-thickness: 0.2rem;
}

.dietary-icon {
  width: var(--dietary-icon-size);
  height: var(--dietary-icon-size);
  margin-left: 0.6rem;
}
.item-low-stock-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.6rem;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  padding: 1.5rem;
  font-size: var(--legend-font-size);
  color: var(--item-color);
}
.legend > span {
  margin-right: 0.75rem
}
.legend-icon {
  width: var(--legend-icon-size);
  height: var(--legend-icon-size);
}
.legend-icon.low-stock-icon {
  width: calc(var(--legend-icon-size) - 0.4rem);
  height: calc(var(--legend-icon-size) - 0.4rem);
}

.low-stock-icon {
  color: #f19557;
}
.GF-icon {
  color: #cca300;
}
.DF-icon {
  color: #0099cc;
}
.NF-icon {
  color: #cc6600;
}
.CN-icon {
  color: #cc0000;
}
.VG-icon {
  color: #29a329;
}

@media only screen and (min-width: 2000px) {
  :root {
      font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  :root {
      font-size: 12px;
  }
  
  .item {
      margin: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
      font-size: 10px;
  }
}

@media (orientation: portrait) {
  .menu-container {
    flex-direction: column;
  }
  .legend {
    width: 100%;
  }
}